body{
  background-color: #e0e3c7;
}
header{
  width: 70vw;
  border-bottom: 1px solid black;
  h1{
    margin-bottom: 2%;
  }
}
ul{
  list-style: none;
  li{
    margin: 0 4% 2% 0;
    padding: 2%;
    background-color: rgba(63, 162, 106, 0.435);
    border-radius: 10px;
    h4{
      margin: 1% 0;
    }
    .course-payment{
      display: flex;
      button{
        width: 50px;
        margin-left: 10px;
      }
    }
  }
}
aside{
  position: fixed;
  top: 0;
  right: 0;
  padding: 2%;
  background-color: rgba(83, 135, 38, 0.498);
  border-radius: 0 0 0 20px;
}